.table-container {
  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-color: white #272a29;
  scrollbar-width: thin;
}
.table {
    min-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #383D3B;
    color: white;
  
    th, td {
      background-color: #272A29;
      border: 1px solid white;
      padding: 10px;
      text-align: left;
      white-space: nowrap;
    }
  
    thead {
      background-color: #383D3B;
  
      th {
        background-color: #383D3B;
        font-weight: bold;
      }
    }
  }