.parrafo-arreglado {
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
    color: white;
    
}

.imagen-centrada {
    box-shadow: 0px 0px 10px black;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/public/imgs/luxury-paradise.jpg")  center/cover no-repeat ;
    filter: blur(10px); 
   z-index: -1; 
}