/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */

.main-header {
    display: flex;
    flex-direction: column;// esto es para el menú hamburguesa
    color: #EAECEB;
    width: 100%;
    @media screen and (min-width: 992px) {
        & {
            flex-direction: column;
        }
    }
}

#menu:checked ~ .nav-bar {  /* este es el menu hamburguesa */
    display: flex;
    flex-direction:column;
    width: 100%;
}
#menu {
    display: none;
    
    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */

    &:checked ~  .nav-bar {    /* al ponerle "checked" este mismo pasa a permanecer activo */
        display: block;

    }
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors */
    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: #EAECEB;
    
    }

}

/* ----------------------------------------------- */
/* MENÚ TOOGLE //!ESTE ES EL MENÚ HAMBURGUESA */
/* ----------------------------------------------- */


.menu-toogle {
    display: block;
    background-color: white;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer; /* manito, al ponerle cursos pointer lo que pasa es que al achicar el modelo el cursos se hace redondo simulando a lo que sería el dedo */

    &__label { /* .menu-toogle__label */
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread, /* .menu-toogle__top-bread */
            &__meat, /* .menu-toogle__top-bread */
            &__bottom-bread { /* .menu-toogle__top-bread */
                display: block;
                background-color: #333;
                height: .2rem;
                position: absolute;
                left: .5rem;
                right: .5rem;
            }

            &__top-bread {
                top: .8rem;
            }
            &__meat { /* Centrar sin usar flexbox */
                top: 50%; /* centrando verticalmente */
                margin-top: -.1rem;
            }
            &__bottom-bread {
                bottom: .8rem;
            }
            @media screen and (min-width: 992px) {
                & { /* .menu-toogle */
                    display: none;  
                }
            }

}
