/* ----------------------------------------------- */
/* SEARCH BAR                                      */
/* ----------------------------------------------- */

.search-bar{
    display: flex;
    justify-content: space-between; /* hace que el logo lp esté pegado al borde */

    &__form-submit:hover{  /* este es el botón de buscar, hace que haya un efecto hover para que al pasar el mouse sea de color negro */
        background-color: black;
    }

    &__logo-container { /* .search-bar__logo-container */  /* este es el logo lp/luxury paradise, incluye las clases de adentro(texto-largo/corto,media de textos*/
        width: 18.75rem;
        height: 3.75rem;
        background-color: #1D201F;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Noto Serif Hentaigana", serif;
        font-size: 22px;
    
        .texto-largo {
            display: none;
            font-size: 20px;
        }
        .texto-corto { 
            display: block;
            font-size: 28px;
        }
    
        @media screen and (min-width:992px) {
            .texto-largo{
                display: block;
            }
            .texto-corto{
                display: none;
            }
        
    
        }
    
        }

/* BUSCADOR */
/* BUSCADOR */
/* BUSCADOR */

    &__form-container { /* .search-bar__form-container */ /* es el contenedor(el espacio/background del searchbar */

        background-color: #1D201F;
        /* padding-right: 300px; */ /* esto mueve a la izquierda todo el contenido del buscador, tanto botón como para el lugar para escribir como también el "buscar productos" */
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        text-align: center;
        flex-direction: row; /*  hace que este del lado izquierdo el txt del "buscar producto" y hace que el botón este del lado derecho (buscador) */
        align-items: center;
        gap: 4px;
        


        @media screen and (min-width: 576px) {
        gap: 10px;
        padding: 10px 10px;
            
        } 
    }

    &__form-label { /* literalment es el TEXTO de "buscar producto" */
        background-color: #383D3B;
        font-family: "Open Sans", sans-serif;
        color: #EAECEB; 
        padding: 5px 10px; 
        font-size: 14px;
        border-radius: 4px;
        margin: 5px;
        white-space: nowrap; /* esto hace que el texto no se desborde, que esté en una sola línea */


        @media screen and (min-width: 576px) {
            font-size: 12px;
            padding:10px 20px;
            
        }
    }

    &__form-search { /* buscador(espacio en donde se escribe) */ 
        background-color: #EAECEB;
        width: 100%;/*  hace que ocupe todo pero todo el espacio del contenedor, se arreglará */
        min-width: 110px;
        height: 30px;
        border-radius: 4px;
        display: flex;
        padding: 10px;
        

        @media screen and (min-width: 576px) {
            min-width: 200px;
            border-radius: 12px;
            
        }
        

    }

    &__form-submit { /* boton de buscar(button) */
        background-color: #383D3B;
        color: #EAECEB;
        padding:5px 15px;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;

    
        @media screen and (min-width: 576px) {
            padding:4px 8px;
            font-size: 16px;
            
        }
    }
    &__carrito-container { /* AHORA TOCA ESTO */
        /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
        display: flex;
        flex: 0 0 0rem; /* shorthand (grow shrink basis) */
        justify-content: center;
        align-items: center;
        background-color: #1D201F;
        /* width: 100%; */
        flex-grow: 1;
    }
}

    .iconamoon--shopping-bag {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1'%3E%3Cpath stroke-linejoin='round' d='M4 9h16l-.835 9.181A2 2 0 0 1 17.174 20H6.826a2 2 0 0 1-1.991-1.819z'/%3E%3Cpath stroke-linecap='round' d='M8 11V8a4 4 0 1 1 8 0v3'/%3E%3C/g%3E%3C/svg%3E");
    background-color: white !important;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    
} 